apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: azure-auth-dev
resources:
  - ../../base
patchesJson6902:
  - target:
      group: ""
      version: v1
      kind: Service
      name: oauth2-proxy-frontend
    patch: |
      - op: replace
        path: /spec/type
        value: NodePort
      - op: replace
        path: /spec/ports
        value:
          - name: http
            port: 4180
            targetPort: http
            nodePort: 30075
