apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: uat
resources:
  - ../../base
  - route-subnetcalc.yaml
patches:
  - path: api-deployment-patch.yaml
  - path: frontend-deployment-patch.yaml
  - path: oauth2-proxy-deployment-patch.yaml
