apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: azure-auth-uat
resources:
  - ../../base
patches:
  - path: gateway-patch.yaml
  - path: api-deployment-patch.yaml
  - path: frontend-deployment-patch.yaml
  - path: oauth2-proxy-deployment-patch.yaml
patchesJson6902:
  - target:
      group: gateway.networking.k8s.io
      version: v1
      kind: HTTPRoute
      name: azure-auth-gateway-route
    patch: |
      - op: replace
        path: /spec/rules/1/backendRefs/0/name
        value: apim-simulator-uat
  - target:
      group: ""
      version: v1
      kind: Service
      name: oauth2-proxy-frontend
    patch: |
      - op: replace
        path: /spec/type
        value: NodePort
      - op: replace
        path: /spec/ports
        value:
          - name: http
            port: 4180
            targetPort: http
            nodePort: 30076
  - target:
      group: ""
      version: v1
      kind: Service
      name: azure-auth-gateway-nginx
    patch: |
      - op: replace
        path: /spec/ports/0/nodePort
        value: 30071
